[2016-11-24 14:33] tderoo opened #1 "Problem initialising"
Have been experimenting in Chrome browser for a couple of hours and cannot get the switch to initialise directly. The buttons show up in the initial view but the state seems to be undecided (on and off both visible).

![image](https://cloud.githubusercontent.com/assets/8360498/20601788/9f82beb6-b25a-11e6-8381-58cf79757175.png)

Have even tried to use a constant ngModel true or false with the same

[2016-11-24 15:09] tderoo commented on #1
The initialising issue seems to have been caused by me wrapping the bSwitch in a div that had an *ngIf attribute. The moment I turned that into a [hidden] attribute it started working. Still have no idea why that is since other input controls seem to bind normally.

The issue of the switch-label-width is still unresolved and seems to behave different from the bootstrap-switch documentation which c

[2016-11-25 13:12] JulioWar commented on #1
Thanks @tderoo
I Will Check that

[2016-11-27 16:33] JulioWar commented on #1
Hello @tderoo

Before all, thanks for test my package. I fixed up the behaviour about `labelWidth` and `handleWidth` and update the `README`  if you want to check it out.

I published the version `0.0.6` in npm.

Let me know if you need something else.

[2016-12-01 16:56] #1 closed, assigned to nobody

[2017-01-20 09:18] Bjanski opened #2 "Width is 9 px when placed in a slider (ng-bootstrap)"
Hi, great plugin.

Have an issue where the slider gets a width of 9px when it's placed within a bootstrap modal.
![screen shot 2017-01-20 at 10 16 05](https://cloud.githubusercontent.com/assets/16150912/22143215/8fe549e4-def9-11e6-8e32-68e7ca0eb0ee.png)

[2017-01-20 16:20] JulioWar commented on #2
Hi @Bjanski, Thanks!

That is strange, I am using in bootstrap modal too in my project. What library are you using to display modal with angular ?

I will test that.

[2017-01-21 13:29] Bjanski commented on #2
@JulioWar I'm using ng2-bootstrap

[2017-01-22 03:09] JulioWar commented on #2
@Bjanski  I think you can solve the problem settting the property of `switch-handle-width` like this:
[code]
You can play with the that property and set the width of the `switch` that you need.
That happen because the `bootstrap-switch` work with the width of the element when initialize and because the slider is not showing from the beginning the `switch` doesn't have width.

[2017-01-23 08:55] Bjanski commented on #2
@JulioWar That solution works but is not optimal, will have a look later after work if I can provide a better solution.

[2017-01-23 13:52] JulioWar commented on #2
@Bjanski Do you have any example or idea of the best behavior to follow in this case ?
I'm working in something else right now but you can create a **`Pull Request`** if you want and I will check that later.

Thank you in advance.

[2017-03-21 16:10] Hehohehoheho opened #4 "AoT compilation returns error"
When I try compiling my project with AoT, it returns the following error:

     Error in bail mode: [at-loader] compiled\node_modules\jw-bootstrap-switch-ng2\src\directive.ngfactory.ts:246:59
    TS2339: Property 'subscribe' does not exist on type 'boolean'.

Any idea on how I can fix this?

[2017-03-21 19:02] JulioWar commented on #4
Hello @Lucasvo1.
I guess you're using angular-cli, What version are you using?

[2017-03-24 14:31] rihardsgladisevs commented on #4
@angular/cli: 1.0.0
node: 6.10.0
os: win32 x64

Have the same issue:

ERROR in C:/projects/ws/src/main/webapp/src/$$_gendir/node_modules/jw-bootstrap-switch-ng2/src/directive.ngfactory.ts (246,59): Property 'subscribe' does not exist on type 'boolean'.
C:/projects/ws/src/main/webapp/src/$$_gendir/node_modules/jw-bootstrap-switch-ng2/src/directive.ngfactory.ts (420,45): Property '_disabled' is priv

[2017-03-24 14:36] JulioWar commented on #4
Thanks @rihardsgladisevs
I will review it as soon as possible.

[2017-03-26 18:50] JulioWar commented on #4
Hello Guys @rihardsgladisevs @Lucasvo1

I check the code I made some changes. please update the `npm package` and let me know if it works.
I will be in touch.

[2017-03-27 07:07] Hehohehoheho commented on #4
Hi @JulioWar, I am getting the same error

    [at-loader] Checking finished with 1 errors
    Error in bail mode: [at-loader] compiled\node_modules\jw-bootstrap-switch-ng2\src\directive.ngfactory.ts:246:59
    TS2339: Property 'subscribe' does not exist on type 'boolean'.

[2017-03-27 14:07] JulioWar commented on #4
@Lucasvo1 I'm not getting that specific error.

Can you share the code of how you are initializing the `switch`? and What specific command you are using to compile with `AoT`?

I will try to replicate it.

[2017-03-28 05:08] rihardsgladisevs commented on #4
H @JulioWar , I am getting the same error:
[code]
I call `ng build --prod --aot` for the build

[2017-03-28 08:11] Hehohehoheho commented on #4
I am using the same command as the one posted by @rihardsgladisevs

[2017-03-28 14:33] JulioWar commented on #4
Sorry Guys, I try to reproduce the error but nothing happen.

Please check [this repository](https://github.com/JulioWar/jw-bootstrap-switch-demo) and maybe you can find something that I'm missing.

You can try to use the command `build ` or `serve` within the repository.

[2017-03-29 05:29] Hehohehoheho commented on #4
Could it have something to do with the get and set value?: https://github.com/JulioWar/jw-bootstrap-switch-ng2/blob/master/src/directive.ts#L409

[2017-03-30 13:08] rihardsgladisevs commented on #4
@Lucasvo1 @JulioWar, may be we use different version of `TypeScript` or `Angular`, personally I use:
[code]

[2017-04-02 02:06] JulioWar commented on #4
@rihardsgladisevs, can you check the version of the library, the last release is "0.0.8".

It would be very helpful if you could make a repository where you can only isolate what corresponds to this library.

[2017-04-04 14:17] priteshbonde opened #5 "Unable to use preventdefault/Stoppropagation to restrict the switch in particular condtion"
html:-

<bSwitch [(ngModel)]="club.plans[0].IsFeatured"
                             (onChangeState)="updateclubs($event, club)">
</bSwitch>

Component Code:-

updateclubs(event, club) {

        if (club.Isactive) {
          event.preventDefault();
        }

i need to prevent the switch incase when club is inactive. StopPropagation method is also not available.

[2017-04-05 00:28] JulioWar commented on #5
Hello, @priteshbonde.

If you are trying to disable, it's better to use the property of `switch-disabled` or `switch-readonly`, so you can do this:
[code]

[2017-04-05 05:11] priteshbonde commented on #5
I cannot disable it. there are multiple switches in the grid I need to show a message when more than 5 switches are in ON state. and also prevent the action of the switch.

[2017-04-05 12:24] JulioWar commented on #5
Hi, @priteshbonde.

Had not thought of that. I'm gonna search for the best solution and see if exist a way to do this. **For now, maybe a quick solution can be this:**

##### HTML:
[code]

##### Component:
[code]

If you just want to show a div or something like that, you just need to use the `club.Isactive`
[code]
###### or
[code]

let me know if work for you this temporary solution.

I'm going t

[2017-04-10 05:28] priteshbonde commented on #5
Great
 Disabling solved my issue for the time thanks. 👍

[2017-04-20 23:05] efroim102 opened #6 "Attributes not being applied when using FormControls"
I ran into this weird issue when trying to implement the jw-bootstrap-switch-ng2 bound to a FormControl using the new FormBuilder.

After importing the module and adding a `bSwitch` to the markup of my component, the switch showed up on the page, unfortunately when I tried to add attributes to customize it, they would have no effect whatsoever and it would default to the default values.

This is t

[2017-04-21 00:26] JulioWar commented on #6
Thanks @efroim102.
I made a form with formControl and I didn't have any problem. Maybe if you share the code of your component  or the structure that you are using, I can help you.

But i will test it.

[2017-04-21 01:44] efroim102 commented on #6
This is the component:

    ...
    @Component({
        templateUrl: './tasks-view.component.html',
        styleUrls: ['./tasks-view.component.css'],
        providers: [{
            provide: NgbDateParserFormatter,
            useFactory: () => new NgbCustomDateRangeParserFormatter("MM/DD/YYYY")
        }]
    })

    export class TasksViewComponent implements OnInit, OnDestroy {

        priv

[2017-04-21 03:31] JulioWar commented on #6
Thanks for the code.

I test and nothing is wrong with `bSiwtch`. I don't know why you need to use `['LIST']`  it's strange.
I implementing something quickly [here](https://github.com/JulioWar/jw-bootstrap-switch-demo/blob/master/src/app/app.component.html#L172).

also you can test it  using `formControlName` :
[code]

[2017-04-21 03:34] efroim102 commented on #6
What's the reason for the double **and** single quotes to set the value?

[2017-04-21 03:35] JulioWar commented on #6
because the property needs to be a `string`.

[2017-04-21 03:42] JulioWar commented on #6
@efroim102 let me know when you solve the problem.

[2017-04-21 03:44] efroim102 commented on #6
I mentioned when opening the issue that I found a workaround which turns out is not a workaround but how it's supposed to be, I found it weird to have to use double quotes **and** single quotes for an attribute value, I've never seen that before, usually you just pass a regular string if a string value is required.

[2017-04-21 04:10] JulioWar commented on #6
If you don't want to use double quotes and single quotes, you can set the property like this:
[code]

[2017-04-21 04:12] efroim102 commented on #6
That makes sense! I should have realized that when enclosing an attribute name with [] the value needs to be an expression... In my defense I couldn't find any examples where the values were hard-coded...

[2017-04-21 04:19] JulioWar commented on #6
Good... feel free to close this issue if you resolve it.

[2017-04-21 04:19] #6 closed, assigned to JulioWar

[2017-04-27 18:44] FelipeCorso commented on #4
Hi @JulioWar , I am getting the same error:

[code]

[2017-04-27 19:56] JulioWar commented on #4
Hello @FelipeCorso
What is your version for nodejs, angular and this library ?
Can you share some of your code of your component where you are using this library ?

[2017-04-28 14:12] FelipeCorso commented on #4
Yes, of course. I will create an exemple and send the repository to you.

[2017-05-09 14:01] FelipeCorso commented on #4
Hello @JulioWar
I simulated the problem, and here is the repository
https://github.com/FelipeCorso/jw-bootstrap-switch-ng2/tree/master/switch-project
You need install the angular-cli, I followed this tutorial
https://scotch.io/tutorials/use-the-angular-cli-for-faster-angular-2-projects
Then execute
npm install
ng build -prod

[2017-05-09 14:26] JulioWar commented on #4
Thanks @FelipeCorso.

I will review this repository as soon as possible.

[2017-05-14 23:13] #4 closed, assigned to JulioWar

[2017-05-14 23:47] JulioWar commented on #4
Hey Guys, sorry for the delay, but I was trying to figure it out what was wrong in my code.
Thanks to the StackOverflow community 😄.

Please let me know if it is resolved.

[2017-06-02 10:09] nitimmerman opened #7 "Angular4"
Hi there,

Thanks for creating this nice-looking switch component.
Could you please upgrade  the dependencies to Angular4? We've just upgraded our project to Angular4 and the switch is still working, however it would be nice if we could get rid of the warning message in NPM

Many thanks,
Nico

[2017-06-05 11:11] jainanuj0812 opened #8 "Make OFF label text visible, when the value is true and the switch is ON"
While using this plugin, one limitation that I faced is that the label for the off option is not visible. Can we have a option to make the label for both the option visible all the time

[2017-06-05 15:06] JulioWar commented on #7
Hi @nitimmerman and Thanks for using my component.
I change the `package.json` in this [lines](https://github.com/JulioWar/jw-bootstrap-switch-ng2/blob/master/package.json#L27) as the [documentation of npm say](https://docs.npmjs.com/misc/semver), but it is not seems to work.

[2017-06-05 15:10] JulioWar commented on #8
I don't understand what are you trying to do but if you want to show the value of the `off option` you can change the `label text`  when the value has change.

[code]

[2017-06-05 15:15] JulioWar commented on #2
I will close this issue for now. Feel free to open the issue if you have idea of best behavior and will discuss it.

[2017-06-05 15:15] #2 closed, assigned to JulioWar

[2017-06-05 15:26] JulioWar commented on #8
or you want something like this **(without `text label`)**
![image](https://www.bypeople.com/wp-content/uploads/2016/04/toggle-switches-c2b7-css-demo.jpg)

[2017-06-06 06:29] jainanuj0812 commented on #8
@JulioWar, Thanks man! ya that's what I want.

[2017-06-06 06:29] #8 closed, assigned to nobody

[2017-06-06 08:19] nitimmerman commented on #7
Hi @JulioWar,
Thanks for your quick reply. I've upgraded to the latest version of your library (1.0.2) and the warning messages disappeared. So, to me everything is fine now

Many Thanks.

Nico

[2017-06-06 08:19] #7 closed, assigned to nobody

[2017-06-06 12:18] JulioWar commented on #7
Ok, Thanks for your confirmation.

[2017-07-10 06:44] rajavijayavendan opened #9 "Change the color of the label"
I have to change the background-colour of the empty label to green on ON State and to red colour on OFF State.How can I accomplish that?

[2017-07-11 02:01] JulioWar commented on #9
Hi @rajavijayavendan you can use css.
When the switch change the state. I am putting a specific class for each state, by default are `.bootstrap-switch-off` and `.bootstrap-switch-on`.

So you can do something like this:
[code]

[2017-07-17 00:08] JulioWar commented on #9
Hello @rajavijayavendan
Please let me know if you resolved it.

[2017-07-17 06:35] rajavijayavendan commented on #9
Hi,
Thanks for your callback..But sorry,your comment didn't work for me.I chose
not to change the colour

Thanks
Rajavijayavendan M

On 17-Jul-2017 5:38 AM, "Julio Guerra" <notifications@github.com> wrote:

[2017-07-17 10:57] JulioWar commented on #9
If I understand you correctly, you are trying to change the label between ON and OFF label , right?.
as this example:

![on](https://user-images.githubusercontent.com/6256473/28265021-f30171dc-6aaa-11e7-86d9-2afa0c97252e.PNG)
![off](https://user-images.githubusercontent.com/6256473/28265036-01241fa8-6aab-11e7-9d11-0998a01e28f8.PNG)
**so the solution works for that case**

or if you are trying to c

[2017-07-19 14:00] DavesBrain opened #10 "Show text of both states"
For some toggle implementations,  it is not as obvious as ON|OFF what the second state is when you can't see it. In my case, the two state are Show: RECENT|ALL.

Is there any functionality for showing [current state (active)] AND [alternate state] simultaneously?

[2017-07-19 16:40] rajavijayavendan commented on #9
Thanks

On Mon, Jul 17, 2017 at 4:27 PM, Julio Guerra <notifications@github.com>
wrote:

[2017-07-19 16:43] JulioWar commented on #9
your welcome @rajavijayavendan, close the issue if you resolve it.
Thanks for using my component.

[2017-07-19 16:45] #9 closed, assigned to nobody

[2017-07-19 21:06] JulioWar commented on #10
Maybe the solution is here : #8.

But for the moment I have not been able to take time to see how I implemented it differently

[2017-07-25 15:15] cedricremond commented on #2
Same problem here : the switch has a 0px width in a modal created with ngx-bootstrap.

The solution @JulioWar gave works but is not optimal.

[2017-07-25 15:26] JulioWar commented on #2
Hello @Korbraan
What do you think is the best solution ?

I was thinking to set a default width but that solution only work if the switch has the default values for the OFF and ON state.

for me isn't a big deal to set the width of the switch

[2017-08-08 07:31] hofa77 opened #11 "how can I set default state to on when I have no Model ?!"
Sorry , thanks for your project sharing

but I couldn't find any way to set default state to On when I have no Model ?
could you please help me ?

[2017-08-08 15:46] JulioWar commented on #11
hello @hofa77

For now the only way to set  the state value is with ngModel. What are you trying to achive?

[2017-08-15 14:44] #11 closed, assigned to JulioWar

[2017-08-19 16:42] Sathishchary opened #12 "Not working properly in Angular CLI with angular 4"
Hi

I have added this plugin in my Angular CLI project. I am able to see the UI of the switch, And the button is enabling and disabling when i drag the 'ON' to 'OFF', but if I click on the 'ON' or 'OFF', its not showing anything, and not working correctly, In the [DEMO](https://juliowar.github.io/jw-bootstrap-switch-ng2/) it's working for the drag and click.

Added like this in app.module file:
im

[2017-08-20 14:31] JulioWar commented on #12
Hello @Sathishchary
what version of this library and angular CLI are you using ?

[2017-08-20 15:06] Sathishchary commented on #12
@JulioWar
I am using below versions:
"jw-bootstrap-switch-ng2": "^1.0.4",
angular/cli: 1.0.0
angular : 4.0.0

[2017-08-22 01:50] JulioWar commented on #12
@Sathishchary

I can't see something wrong in your code, just a few things like:
- You need to define the wrapperClass in the component
- You can't use private variables in the template. (It'is going to be a problem with aot compilation)

This is the repository for the demo if you want to check it : [https://github.com/JulioWar/jw-bootstrap-switch-demo](https://github.com/JulioWar/jw-bootstrap-swi

[2017-08-22 06:52] Sathishchary commented on #12
Thanks for the demo @JulioWar , I have download it ,its working, I have compared the demo code with my code.  the problem with my css only. its overriding some check box css. I removed that, now its working perfectly.

[2017-08-22 15:05] #12 closed, assigned to JulioWar

[2017-09-13 21:28] sabb123 opened #13 "'bSwitch' is not a known element"
We are using angular4.

**Package.json** is like below
  "jw-bootstrap-switch-ng2": "^1.0.4",

**systemjs**
   'jw-bootstrap-switch-ng2': 'lib/jw-bootstrap-switch-ng2'
   'jw-bootstrap-switch-ng2': {
                main: './dist/index.js',
                defaultExtension: 'js'
            }

**app.module.ts**
import { JWBootstrapSwitchModule } from "jw-bootstrap-switch-ng2";
@NgModule({ imports:

[2017-09-14 22:37] JulioWar commented on #13
Hello @sabb123

Can you check if the configuration of the`systemjs.config.js`  that is in the readme of this library work for you?

It's something like this:
[code]

[2017-09-21 20:34] sabb123 commented on #13
Yes, you are correct. Systemjs.config.js file did not point to the right path. Thank you

[2017-09-21 20:34] #13 closed, assigned to JulioWar

[2017-09-21 20:38] sabb123 opened #14 "Changing the color and also responsiveness"
1. Is it possible to change the color of the part of the switch that is white in color? Not the color of the ON and OFF but the other side.

2.  Is this component responsive? I want to be able to see the switch in different devices.

Thank you

[2017-09-24 20:35] JulioWar commented on #14
Hello @sabb123

1. Check the issue #9 if you want to change the color of the label.
2. The responsiveness depend of the project. you can resize the switch when the resolution of the window change. You just need to use the property `size`, check the readme for more information. If you want other behavior for your especific implementation, you have to change your css.

Good Luck

[2017-09-24 20:38] #14 closed, assigned to nobody

[2017-10-13 19:53] Qowy opened #15 "TS2322: Type 'null' is not assignable to type 'number'."
Shouldn't line 71 in directive.ts be:

` private _dragStart: any = null;`
instead of
` private _dragStart: number = null;`

Technically it should probably be ` private _dragStart?: number = undefined;` but declaring it any keeps it in line with _dragEnd

[2017-10-15 05:21] dfederm opened #16 "Control cannot be used inside a template-driven form"
I get the following error when trying to use this inside of a `<form>`.

[code]

[2017-10-15 22:57] JulioWar commented on #16
Hello @dfederm

Sorry but seems to me that is not a error from this library. Maybe if you share some of your code in your view i can help you.

You can check my implementation with form in the demo. check this [repository](https://github.com/JulioWar/jw-bootstrap-switch-demo/blob/86574ce32321e6b3a780a2114c3f4a89b5f6900b/src/app/app.component.html#L172)

[2017-10-15 23:03] JulioWar commented on #15
Hello @Qowy

Thanks. I will change it. I didn't see it.

[2017-10-15 23:05] JulioWar commented on #15
Just one question @Qowy , When did you see that error? When you are trying to add it in a module?  what version of typescript are you using ?

[2017-10-15 23:09] dfederm commented on #16
The error is within angular itself when using template-driven forms. The input from your lib does not have a name attribute (or an option to use that standalone thing), so the template-driven form code in angular throws.

[2017-10-15 23:17] JulioWar commented on #16
@dfederm  you checked the repository ?, I think you can use `ngModelOptions`, i never tried but should work because the component itself handle the model

[2017-10-15 23:26] JulioWar commented on #15
update the library and try again.
Let me know if you have an issue, if not, please close this issue

[2017-10-15 23:39] Qowy commented on #15
Thank you will try it tomorrow.

 I just installed it via npm and set it up in my app.module.ts I got the error during loading of the page (which I think uses webpack)

I am using Typescript 2.5 and I think my typescript configuration enforces strict null checking, which seems to be the default since a few versions ago according to me googling this error.

[2017-10-16 17:31] asamarcos opened #17 "Integration with IONIC"
Hi, great directive you build, congrats. I'm trying to integrate it into IONIC (www.ionicframework.com) and it works fine on development, but as as soon as I try to build a production output, it fails.

I've followed all the steps from installation, except for systemjs.config.js which IONIC team says is not needed because webpack would automatically detect and setup everything.

The error is this:

[2017-10-16 22:14] Qowy commented on #15
Works fine thank you.

[2017-10-16 22:14] #15 closed, assigned to JulioWar

[2017-10-17 02:08] JulioWar commented on #17
Hello @asamarcos

Thanks for using my directive.  I never work with IONIC before, so please give me some time to figure it out what is happening. If you share some of your code that you are using for import this library could be useful.

Are you using a Boilerplate?

[2017-10-17 02:24] asamarcos commented on #17
Hi Julio, thanks for looking into it. Instalation process is very straighfoward, I have requested the library through npm:

`  npm install jw-bootstrap-switch-ng2 --save`

Included this on my app.module.ts file:

`import {JWBootstrapSwitchModule} from 'jw-bootstrap-switch-ng2';

@NgModule({
    declarations: [
...
    ],
    imports: [
...
        JWBootstrapSwitchModule
...
    ],
    bootstrap:

[2017-10-17 02:31] JulioWar commented on #17
Can you try something for me please. Go to the node_modules directory  search for this library, then change the `package.json` file  and add this line:
[code]

Try to run the app in production mode and let me know if something change

[2017-10-17 02:44] asamarcos commented on #17
Sure.

I added this to the end of node_modules/jw-bootstrap-switch-ng2/package.json

`
...
  "typings": "./src/index.ts",
  "url": "https://github.com/JulioWar",
  "version": "1.0.5",
   "module": "./dist/index.js"
}`

And I got this error:

`Error: Error encountered resolving symbol values statically. Could not resolve jw-bootstrap-switch-ng2 relative to /home/arthur/ionicProjects/pose-app/src/ap

[2017-10-17 04:02] JulioWar commented on #17
@asamarcos

I made an update for this library. try to update the library and should work.

Please close the issue if the solution works

[2017-10-17 06:00] dfederm commented on #16
Ah, I assumed `ngModelOptions` needed to be on the underlying `<input>` as per in the error message's example. I suppose it makes more sense to be on the same element as what the `ngModel` is on though.

[2017-10-17 06:00] #16 closed, assigned to JulioWar

[2017-10-17 12:25] asamarcos commented on #17
You Sir @JulioWar, are awesome!

`[09:23:45]  build prod finished in 41.93 s `

Thank you very much!

[2017-10-17 12:25] #17 closed, assigned to JulioWar

[2017-10-18 18:32] FelipeCorso opened #18 "Problem with the Bootstrap Collapse"
@JulioWar, I found a problem using the switch with accordion panels, if the panel is rendered closed (class = "collapse in") the switch can not calculate the size correctly. If the panel is expanded (class = "collapse"), the situation does not occur.
Do you know if I'm doing something wrong?
I created a repository to simulate the situation https://github.com/FelipeCorso/jw-bootstrap-switch-ng2
The

[2017-10-18 19:27] JulioWar commented on #18
Hi @FelipeCorso

This issue is related with the this issue #2. But i am going to try something later to solve that problem. I'am going to try to calculate the width of the switch with the length of the labels

[2017-10-18 19:53] FelipeCorso commented on #18
Nice!

I'll use this  [switch-handle-width]="60" to solve my problem.

[2017-11-06 22:05] pinktoadette opened #19 "jw-bootstrap-switch-ng2\dist\directive.ts is not part of the compilation output"
Keeps throwing me this. I upgraded all my nod_modules, then this appeared.
ERROR in ./node_modules/jw-bootstrap-switch-ng2/dist/directive.ts
Module build failed: Error: Path\user-app\node_module
s\jw-bootstrap-switch-ng2\dist\directive.ts is not part of the compilation output
. Please check the other error messages for details.
    at AngularCompilerPlugin.getCompiledFile (Path\us
er-app\node_modu

[2017-11-07 14:53] JulioWar commented on #19
Hello @pinktoadette can you share the version of angular and the version of this library that you are using?

[2017-11-07 17:50] perceptiveml opened #20 "ngModel not updating before onChangeState emits"
If I bind a variable to ngModel, that value will not get updated before onChangeState callback. Within the callback for onChangeState, event.previousValue and event.currentValue are correct.  However, the variable binded to ngModel is not yet updated.

The fix seems to be in directive.ts, setStateValue() function. This will allow angular's ControlValueAccessor registerOnChange() to update ngModel

[2017-11-07 22:04] JulioWar commented on #20
Thanks @perceptiveml for the observation, I am going to do some changes today and I can make the changes.

[2017-11-08 06:57] Sathishchary opened #21 "Getting Error in angular 5.0"
Hi , I am converting my project from 4.3 to 5.0 , its worked perfectly in 4.3, but after upgrading my project i got below error.

thanks in advance

[2017-11-08 22:49] JulioWar commented on #21
Thanks for report the issue. I'm closing this because this issue already exist. Please track this on #19

[2017-11-08 22:49] #21 closed, assigned to nobody

[2017-11-08 22:51] JulioWar commented on #19
Hey guys, Thanks for reporting the issue.  I Think is an issue cause by angular version so please give some time to figure it out what is wrong.

Thanks for using my library.

[2017-11-09 01:31] JulioWar commented on #19
Hello @pinktoadette

I think this alternative workaround for now. Try to change the `tsconfig.json`.
[code]
## Include the library.

Please let me kwow if that works for you and I will continue working to fix the problem.

[2017-11-09 02:24] pinktoadette commented on #19
It’s working fine now.
Thanks!

[2017-11-09 11:08] chelaruc opened #22 "Switch with icon"
Hi,

Have you implemented a switch icon instead of text? I really need this in my projects. Here is an example:
![screen shot 2017-11-09 at 13 07 41](https://user-images.githubusercontent.com/22840626/32602535-09537c6a-c54f-11e7-99c5-93e17778ad6d.png)

Regards,
Ciprian

[2017-11-09 12:26] JulioWar commented on #22
Hi @chelaruc

No, I don't have an implementation yet. but i can try to do something quickly.

Give me a moment.

[2017-11-09 12:58] #20 closed, assigned to JulioWar

[2017-11-09 12:58] #22 closed, assigned to JulioWar

[2017-11-09 13:12] JulioWar commented on #22
Hello @chelaruc

I made the changes, now is possible to pass html for the properties `switch-off-text` and `switch-on-text` and you can use it like this:

### With a varible
#### Component
[code]
### View
[code]

### or just defining it in the view
[code]
Just update the library.

[2017-11-09 14:29] chelaruc commented on #22
@JulioWar Thank you!

[2017-12-06 16:19] leomayer commented on #19
Does not work here with Angular 5.0.5.
Additionally the build fails with enabled option `--aot`

[2017-12-06 16:56] JulioWar commented on #19
Hello guys, sorry for the delay.
I was searching about this and a found these issues that are related:
- https://github.com/angular/angular-cli/issues/8284
- https://github.com/angular/angular/issues/20091

If some of you found some solution that I can implement will be awesome, I am little bussy right now... but I'm gonna try to solve this issue as soon is possible

[2017-12-23 18:36] bpatrik commented on #19
Hi,

I also did some google and found this comment (in the issue mentioned):
https://github.com/angular/angular-cli/issues/8284#issuecomment-341417325

It says that libs should not include `.ts` files, only compiled ones.

You can check what other libs are doing.
These seem to working fine for me:
[ng2-slim-loading-bar](https://www.npmjs.com/package/ng2-slim-loading-bar), [ng2-toaster](https://www

[2017-12-24 01:06] JulioWar commented on #19
Hello @bpatrik, sorry for my delay but this last days I was working on other projects and I didn't test that.
Can you please tell what version of nodejs do you have ?

Today I try to install the last version of node js and then I remove the node_module directory and I tried to install all again and for some reason it works.

Can you please try that ?

This is the  version of my dependencies:
[code

[2017-12-24 01:15] JulioWar commented on #19
But yeah, I'm gonna remove the ts files but I just want to test how it works with in IONIC

[2017-12-24 01:27] bpatrik commented on #19
Hi,

I think the problem appeared with the latest angular cli and it's (mostly) independent from node.

I'm using these:
[code]
[code]
And I try to compile with this:
[code]

Adding this to `tsconfig.app.json` soved my problem temporary:
[code]
As far as I understand the problem the latest cli does not include all source(`.ts`) files automatically (which was not a good approach before), but only t

[2017-12-24 01:35] JulioWar commented on #19
@bpatrik  I updated the library already, I removed the ts files. Can you try to update the this library and try again ?

[2017-12-24 01:49] bpatrik commented on #19
hmm it seems that it solved the issue partially.
for `ng build` it works, but for `ng build -prod`, i got an error:
[code]

I'm not sure if this error is still in connection with your library.

[2017-12-24 01:50] JulioWar commented on #19
ok,  let me see what can I do

[2017-12-24 12:06] JulioWar commented on #19
Hello Guys, I think I finally did it! Please try to download the last version and try again.

[2018-01-01 09:26] bosunolanrewaju opened #24 "ERROR in Metadata version mismatch for module"
After installing the module. Running `ng serve` produces the error and angular is unable to compile.

ERROR in Metadata version mismatch for module /my-project/node_modules/jw-bootstrap-switch-ng2/dist/index.d.ts, found version 4, expected 3,resolving symbol AppModule in /my-project/src/app/app.module.ts, resolving symbol AppModule in /my-project/src/app/app.module.ts

Angular: 4.2.4
jw-bootstrap-

[2018-01-01 15:34] JulioWar commented on #24
Hello @bosunolanrewaju, Yes I saw that, I was working on update for angular 5, please downgrade the version to the `1.0.8`. It's the same thing. Sorry for this issue.

[2018-01-01 20:41] bosunolanrewaju commented on #24
@JulioWar Thanks for your response, I will give that a shot.

[2018-01-03 21:54] bosunolanrewaju commented on #24
@JulioWar, `1.0.8` works as expected. Thanks

[2018-01-03 21:54] #24 closed, assigned to nobody

[2018-01-15 16:00] martinmanzo opened #25 "Right border not showing"
### Bug Report or Feature Request (mark with an `x`)
[code]
### Versions.
2.4.10

### Repro steps.

- Create a switch with this options:
**<bSwitch
    [switch-base-class]="'bootstrap-switch'"
    [switch-wrapper-class]="'bootstrap-switch-wrapper'"
    [switch-off-text]="'Excluir'"
    [switch-on-text]="'Incluir'"
    [switch-size]="'small'"
    [switch-disabled]="false"
    [switch-readonly]="fal

[2018-01-15 17:42] JulioWar commented on #25
Hi @martinmanzo, I just wanna know why you are using the property `switch-handle-width`.

[2018-01-15 17:46] martinmanzo commented on #25
Hi @JulioWar, thanks for the response. I had some Issues getting the switch to display correctly and turned into old issues to now if someone else had had the same problem and if there was a solution. I found this issue https://github.com/JulioWar/jw-bootstrap-switch-ng2/issues/2 and in an answer you state to try with that. I did it and the switch started to display correctly.

[2018-01-15 17:51] JulioWar commented on #25
Ok, I understand. Can you please make the pull request I gonna take the time to test that on my side. Thanks

[2018-01-15 17:54] martinmanzo commented on #25
Sure, I'll do it in the next days.
Thanks!

[2018-01-15 19:26] MarkDeVerno commented on #1
I'm also experiencing the issue of having to hover over the toggle for it to show the correct value on initialization.  My toggle, however, is not immediately in an *ngIf.

[2018-01-15 19:30] JulioWar commented on #1
Hi @MarkDeVerno, Can you share something of your code ?

[2018-01-25 04:39] BugKiller-tech opened #26 "npm install is failed"
npm install jw-bootstrap-switch-ng2 --save

[code]

I can see like this error.

[2018-01-25 11:38] BugKiller-tech commented on #26
I've fixed by installing `npm install typings -g`.
but I don't know why this is needed.
If anyone knows about this, please let me kow.

[2018-01-25 14:45] chelaruc commented on #19
Thank you, @JulioWar, for your work! It's working now ❤️ 😍

[2018-01-25 14:50] JulioWar commented on #26
Hello @RoraxHan, I think this is not an issue with this library because the error is showing a problem with `angular2-localstorage`

[2018-01-25 14:53] JulioWar commented on #19
Thanks for the feedback, I'm going to close this issue then.

[2018-01-25 14:53] #19 closed, assigned to JulioWar

[2018-01-25 14:54] #26 closed, assigned to nobody

[2018-04-14 14:59] bighansen opened #27 "I cannot use it with the command ng serve"
I cannot use it with the command

in this way the web page cannot be opened.

The only way I can use with this plug-in is

and then deploy the web in the nginx

What should I do to solve this problem?

[2018-04-14 15:30] bighansen commented on #27
I'm sorry, this is a misunderstanding and I solved by myself.
By the way, is it the element that I cannot adjust the size arbitrarily？

[2018-04-17 15:22] JulioWar commented on #27
Hi @bighansen, Sorry I don't understand your question

[2018-04-23 16:13] Flyover-ArtSk opened #28 "Not working with ChangeDetectionStrategy.OnPush"
Not working with
`changeDetection: ChangeDetectionStrategy.OnPush`

Switcher initializing only on mouse hover :(

![ng-switcher-bug](https://user-images.githubusercontent.com/1798696/39139366-68f5d9b2-472a-11e8-9ab2-8ed6948c3cbd.gif)

[2018-04-23 17:21] JulioWar commented on #28
Hello @Flyover-ArtSk, Can you replicate this in a repository or share the code to check that ?

[2018-04-23 17:22] #27 closed, assigned to nobody

[2018-08-29 06:53] ahadjithoma commented on #28
Hello @JulioWar  we have the same problem.

I wrote a mini demo instackblitz  to replicate the bug.
[demo](https://stackblitz.com/edit/angular-jn4qxb)

Can you take a look please? thanks

[2018-08-29 11:51] ahadjithoma opened #29 "Disable functionality"
It seems that when the switch is inside a form and that form is disabled, the switch is still enabled.
I know about the `switch-disabled="condition"` but it would be more helpful if i could disable the Switch based on the form status.

for example:

[code]

[code]

i am expecting the bSwitch to be disabled, but only the input type is disabled.

[2018-08-29 19:06] JulioWar commented on #29
Hello @andreash92
I didn't know about that funtionality, I going to take the time to do that in the weekend.

Thanks

[2018-08-29 19:08] ahadjithoma commented on #29
thanks i really appreciate it!

[2018-08-29 19:13] JulioWar commented on #28
Thanks for the demo. I will check it

[2018-09-01 01:59] MarcosRibeiroJesus commented on #29
Same here, good to hear about the solution soon. Thanks @JulioWar! =))

[2018-09-02 02:37] #28 closed, assigned to JulioWar

[2018-09-02 02:37] #29 closed, assigned to JulioWar

[2018-09-02 02:39] JulioWar commented on #29
Thanks for your patience guys, The version 2.0.2 is available. Test it and let me know if it's working fine.

[2018-09-02 02:39] JulioWar commented on #28
Thanks for your patience guys, The version 2.0.2 is available. Test it and let me know if it's working fine.

[2018-09-06 05:30] ahadjithoma opened #30 "configure available attributes once"
### Bug Report or Feature Request (mark with an `x`)
[code]
It would be very useful if we could configure the bSwitch in a single file for all instances, using the available attributes.

For example:
 if i can configure `switch-on-text="yes"` and `switch-off-text="no"` to a configuration file, every `<bSwitch></bSwitch>` in my application should have the yes/no label without writing it every time.

[2018-09-09 22:55] JulioWar commented on #30
Thanks @andreash92.
Yes It's a good feature. I going to work on that but I don't promise that will be so soon because I am currently working on something else.

[2018-11-01 01:58] yolixtly commented on #6
Direct Link for the **type** accepted by each of the [**available attributes**](https://www.npmjs.com/package/jw-bootstrap-switch-ng2#available-attributes)

[2018-11-23 21:52] bpatrik opened #31 "changeState documentation"
Hi

Sorry for the not well formatted issue.
In the docs the example code has the wrong event name:
[code]
I know the readme says at two other places that its actually `changeState`, but it still took me 1 hour to fix this issue, since I was only looking at the example. :/
I would encourage using the new notation in the example too.
Thx!

Best,
Patrik

[2018-11-27 16:33] JulioWar commented on #31
Sorry @bpatrik

I totally forgot to do it.

[2018-11-27 16:33] #31 closed, assigned to nobody

[2019-01-06 00:26] iCodr8 opened #32 "Add Angular 7 support"
Please add support for angular 7

[2019-01-07 02:43] JulioWar commented on #32
Hello @iCodr8

What is the error the you get ?

[2019-01-21 15:43] nabilelmahiri commented on #32
I have an issue too when upgraded to angular 7, it gives me this error :

`npm WARN jw-bootstrap-switch-ng2@2.0.2 requires a peer of @angular/common@^6.0.0-rc.0 || ^6.0.0 but none is installed. You must install peer dependencies yourself.`

[2019-01-21 15:51] JulioWar commented on #32
Hello @nabilelmahiri

Thanks for your feedback, I going to check that, because I actually did it without an issue so maybe I am missing something in the process.

Can you create a repository where you can reproduce the problem? Maybe that would more easy for me to see it and fix it.

[2019-01-21 16:06] nabilelmahiri commented on #32
My pleasure @JulioWar I am doing it right now

[2019-01-21 16:17] nabilelmahiri commented on #32
This is the repository i have created https://github.com/nabilelmahiri/angular-creativetim-theme ,
you can reproduce the error running npm install

Thanks for your help

[2019-01-25 08:55] nabilelmahiri commented on #32
@JulioWar any news my friend ?

[2019-01-25 15:57] JulioWar commented on #32
Sorry @nabilelmahiri

I will check  it on the weekend

[2019-01-27 03:28] JulioWar commented on #32
Hello @nabilelmahiri, I think I resolved the issue in the new release 2.0.4.  Can you tested and confirm or deny that It's been resolved?

Thanks for your patient

[2019-01-28 14:07] nabilelmahiri commented on #32
Hello @JulioWar the last errors are gone, but now we have this error, i think still doensnt support the last updates of angular 7

`├── UNMET PEER DEPENDENCY @angular/common@7.2.2
├── UNMET PEER DEPENDENCY @angular/core@7.2.2
└── jw-bootstrap-switch-ng2@2.0.4`

[2019-01-29 03:36] JulioWar commented on #32
@nabilelmahiri  I want to ask you, do you still can run the command `ng serve` ? When do you get that error ?

I did something  else, but if that doesn't work I don't know what to do. I using peer dependencies because  in that way I don't need to imported in the project and the core of angular doesn't have breaking changes.

I hope the last change works for you.

[2019-01-29 13:43] nabilelmahiri commented on #32
Hello my friend @JulioWar , the problem is solved in the last version, thank you some much.

[2019-01-29 14:13] JulioWar commented on #32
Hello @iCodr8, Can you test the last changes and see if that was your issue too ? Feel free to open this

[2019-01-29 14:13] #32 closed, assigned to JulioWar

[2019-03-11 14:06] ddavidtran commented on #9
Hi Julio,
This solution does not work. I have this on a component and tried to change color with the component css. It does not work. If I inspect the element and change it myself directly on the browser, it works.

[2019-03-11 15:26] JulioWar commented on #9
Hi @ddavidtran

Can you share your implementation code, Maybe I can help.

[2019-03-11 19:22] ddavidtran commented on #9
@JulioWar

**app.module.ts**
`import { JwBootstrapSwitchNg2Module } from 'jw-bootstrap-switch-ng2';
@NgModule({
import: [JwBootstrapSwitchNg2Module]
})`

**header.component.html**
`  <bSwitch switch-size="small" switch-on-text="Editor" switch-off-text="Report" [(ngModel)]="state" (changeState)="navigateTo($event)"></bSwitch>`

**header.component.css**
` .switch-on-color {
   background: darkorange

[2019-03-12 05:28] AltRoot17 opened #33 "Its not worked in bootstrap 4"
I tried to used this switch in bootstrap 4 , its not worked, any solution?
Thanks

[2019-03-12 11:22] Zabudska-Yuliia commented on #18
Hey, @JulioWar do you have any updates? It would be really great to have a fix.
Thanks a lot for such useful lib :)

[2019-03-12 13:45] JulioWar commented on #18
Hello @Zabudska-Yuliia, Thanks for using this library. I'm little bussy this month, but I will do my best to keep you up to date. Any Pull Request is going to be appreciated 😃

I will try to see this with more detail on the weekend.

[2019-03-12 13:48] JulioWar commented on #33
Hello @AltRoot17, I need more to test this, because I'm actually using it in a project where I'm using bootstrap 4 and I did not have any problems.

Maybe it's something about this issue #18

[2019-05-15 18:16] hashmed commented on #25
This is still an issue. Fix that @martinmanzo suggested seems to work.
Why not upgrade it? This is by far the best switch toggle package out there (for Angular), and the missing right border is so...difficult to look at.

[2019-05-16 00:49] JulioWar commented on #25
Hi @hashmed

This an issue that I can't reproduce and I don't know if I make this changes, others can be affected. people using this package that doesn't have this issue. That is the case for me.
I have a demo site for this package here: [https://juliowar.github.io/jw-bootstrap-switch-ng2/](https://juliowar.github.io/jw-bootstrap-switch-ng2/)

Can you tell me if you see the issue there ?

Because

[2019-05-16 21:14] hashmed commented on #25
@JulioWar
Oh, I didn't know that was the case. Applying the "fix" might do more damage then, for sure.

I do not see the issue on demo site, border is there. I'm now suspecting that some other css files might be interfering with it. I will let you know if I pinpoint the issue.

But your library is probably good as it is. :)

[2019-11-20 11:46] ahadjithoma opened #34 "bSwitch gets focused even when it's disabled"
### Bug Report or Feature Request (mark with an `x`)
[code]
### Versions.

Angular: 8.24
bSwitch: 2.0.5

### Repro steps.

https://stackblitz.com/edit/angular-ybggsn?embed=1&file=app/modal-component.ts

### The log given by the failure.

Error: ExpressionChangedAfterItHasBeenCheckedError: Expression has changed after it was checked. Previous value: 'ngClass: bootstrap-switch bootstrap-switch-wrapp

[2019-12-12 19:18] JulioWar commented on #34
@andreash92
I will check that scenario. Thanks for your feedback

[2020-11-28 18:52] AhmadDeel opened #35 "Styling issue in production build"
### Bug Report or Feature Request (mark with an `x`)
[code]
### Versions.
The version of angular: 9.3.1
The version of this library: 2.0.5

the switch style sometimes is exactly like the presented but other times, especially in the build, is like the images bellow

![Screenshot from 2020-11-28 22-17-41](https://user-images.githubusercontent.com/39188688/100523751-0f9b7a80-31c8-11eb-83b0-641dc11bf4

[2020-11-28 18:54] AhmadDeel commented on #35
I tried different values of switch-size, sometimes worked for me but others didn't.
I could not get clean styles in any builds, development, or production!

[2020-11-28 18:59] AhmadDeel commented on #35
HERE IS MY  HTML
[code]
AND MY TS CODE
[code]

[2021-01-22 06:41] Dhairya312 opened #36 "Behaviour state change of switch even if value not change."
### Bug Report or Feature Request.
#Issue# ###Angular 7#
Here switch in html section:-
  <bSwitch
    [(ngModel)]="branch.isDefault"
    formControlName="isDefault"
    [switch-on-text]="'YES'"
    [switch-off-text]="'No'"
    [switch-size]="'mini'"
    (changeState)="onBranchDefault($event)">
  </bSwitch>
  <span>{{branch.isDefault}}</span>

Here is Ts code:-
onBranchDefault(i: number, event: {cu

[2021-04-06 07:22] bjornharvold opened #37 "Issue with switch state displaying half on half off"
### Bug Report or Feature Request (mark with an `x`)
[code]
### Versions.
Angular: 11.2.7
jw-bootstrap-switch-ng2: 2.0.5

### Repro steps.
Occurs randomly. Sometimes, when a page is loaded / reloaded, the state of the switch looks like this (see image attached)
<img width="80" alt="Screen Shot 2021-04-06 at 2 15 00 PM" src="https://user-images.githubusercontent.com/641791/113673304-04f77180-96e3-1